body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('http://wallpapercave.com/wp/huDiDyr.jpg'); /* Replace 'background.jpg' with the path to your background image file */
    background-size: cover;
    background-position: center;
}

.converter {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 20px;
    background-color: #025505;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #19108e;
}
